# Visual Studio files
.vs/
*.sln
*.vcxproj*
*.user
*.log
*.obj
*.exe
*.pdb
*.ipch
*.idb
*.ilk
*.cache

# CMake and build folders
x64/
DICOM-WL/Debug/
*.tlog
*.lib
*.exp
*.recipe
CMakeFiles/
CMakeCache.txt
build/
out/
bin/
lib/
*.o

# DCMTK binaries
dcmtk-install/
*.dcm

# OS-specific
.DS_Store
Thumbs.db

# Backup files
*.bak
*.old
*.tmp
